* {background-color: rgb(7, 71, 73);
  background-image: url(https://images.unsplash.com/photo-1617511651637-7b1c28ed8701?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDk2fGlVSXNuVnRqQjBZfHxlbnwwfHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);}
  
  header { display:flex;
  justify-content:  space-between;
  padding: 1%;
  top: 0;
  width: 100;
  height: 7;
  font-size: x-large;
  color:rgb(21, 107, 79)
  }
  
  header h1 {text-align: center;}
  
  nav ul {
  justify-content: space-between;
  text-decoration: none;
  }
  
   li { display: inline;justify-content: space-evenly;
      color:rgb(21, 107, 79);
  
  } 
  nav ul li a {color :rgb(21, 107, 79)}
  nav ul li a:hover {color:black}
   
  
  section.pattern { display:flex;
      padding:2%;
      width:100;
      height:7;
      font-size: large;
      color:rgb(21, 107, 79);
  }
  .container {
      position: left;
      text-align: center;
      color:rgb(21, 107, 79);
    }
    .top-left {
      position: absolute;
      top: 8px;
      left: 16px;
    }
  .container a{
    color:rgb(21, 107, 79)
  
  }
  section.container {
  
      display:flex;
      flex-wrap: wrap;
      font-size: x-large;
      font-family: helvetica, sans-serif;
      color:rgb(21, 107, 79);
      justify-content: space-around;
      
      
      
  
      }
      section.imageContainer {display: Flex;
      flex: 0 0 1;
  flex-wrap: wrap}
  
  .card a {
  
    color:rgb(21, 107, 79);
  }
  .card-body a {
  
    color:rgb(21, 107, 79);
  }
  
      h1 h2 h3 {
      font-family: Helvetica, sans-serif;
  color:rgb(26, 24, 24);
  text-align:center}
  
  footer {display: flex;
  justify-content: space-evenly;
  padding: 1%;
  top: 0;
  width: 100;
  height: 7;
  font-size: medium;
  color:rgb(21, 107, 79)
  }
  /* @media screen and (max-width: 768px) { header {flex-direction: column;}
  main { max-width: 200px;}
      
  }
  @media screen and (max-width: 992px){ header {flex-direction: column;}
  main {max-width: 400px;}
      
  } */